[submodule "education-tool"]
path = education-tool
	url = git@github.com:tomoino/education-tool.git
[submodule "iGEM2020WasedaWiki"]
	path = iGEM2020WasedaWiki
	url = https://github.com/yamanashi-t/iGEM2020WasedaWiki.git
